{% extends "base.html" %}

{% block content %}
    {% if session["username"] %}
        <h1>Hello, {{ session["username"] }}</h1>
    {% else %}
        <h1>Hello, stranger </h1>
    {% endif %}

    {% if session["username"] %}
        {% if not voted_bird %}
            <form action="/vote" method="post">
                {% for bird in birds %}
                <p>-------------------------------------</p>
                <img src="/static/birds_images/{{ bird.image_path }}" style="height:250px;">
                <p>{{ bird.species }}</p>
                <input name="vote" type="radio" value="{{ bird.id }}">
                <p>-------------------------------------</p>
                {% endfor %}
                <button type="submit">Vote</button>
            </form>
        {% else %}
            <h1>You already voted</h1>
            <h2>You voted for {{ voted_bird.species }}</h2>
        {% endif %}
    {% else %}
        <h2>Login to vote</h2>
        {% for bird in birds %}
        <p>-------------------------------------</p>
        <img src="/static/birds_images/{{ bird.image_path }}" style="height:250px;">
        <p>{{ bird.species }}</p>
        <p>-------------------------------------</p>
        {% endfor %}
    {% endif %}
{% endblock %}
