{% extends "base.html" %}

{% block content %}
{% if voted_bird %}
    <div class="container-md">
        <h2  style="text-align: center;">Thank you for your vote, {{ current_user.username }}</h2>
        <div class="card" style="width: 30rem; margin: auto;">
            <img src="/static/birds_images/{{ voted_bird.image_path }}" class="card-img-top ">
            <div class="card-body">
                <h5 class="card-title">{{ voted_bird.species }}</h5>
                <p class="card-text">{{ voted_bird.info }}</p>
            </div>
        </div>
    </div>
{% else %}
    <h2 style="text-align: center;">Hello, {{ current_user.username }}</h2>
    <h3 style="text-align: center;">Go to the main page to vote for the best bird</h3>
{% endif %}
{% endblock %}